body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #C0C0C0;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contImag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen {
    width: 80%;
    height: 80%;
}

.reglas {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: justify;
}

.medio {
    margin-top: 2%;
    margin-bottom: 2%;
}

.botonComenzar {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.usuario {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
    height: 20vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.preguntas {
    display: grid;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

#botonRetirarse, #botonRespuesta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 50%;
    
}



